/* Define canvas size to user max viewport height and disable the overflow */

.mainContainer {
    max-height:100vh;
    height:100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.navBarContainer {
    height:7vh;
    max-height:7vh;
}

.generateQueryContainer {
    height:23vh;
    max-height:23vh
}

.mainButtonsContainer {
    /*max-height: 5vh;*/
}

.textareaQuery {
    max-height:85%;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    outline: none;
    height: 100%!important;
}

.queryContainer {
    position: relative;
    bottom: 0px;
    overflow: auto;
    height: 80%;
}

#tabs-parent {
    display:none;
}

.niceBackground {
    background-color: #dee2e6 !important;
}

.dropdownColumn p, .dropdownColumn div p {
    font-size: 1.171875rem;
    font-weight: 300;
}

/*
.Select-arrow-zone {
    width: 100%;
    display: block;
}
*/

.dash-dropdown#tables-relation {
    padding-right: 15px;
    width: 100%;
}

#page-3-link {
    display:none!important
}

h2.display-5 {
    font-size: 1.75em!important;
}

#cytoscape-event-callbacks-1 {
    padding: 30px;
}


button#close-xl {
    background-color: #2C3E50!important;
}

.table-bordered td {
    border: 1px solid #dee2e6;
}

tr {
    background-color: #ECF0F1;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #2C3E50!important;
    color:white!important;
}

thead {
    font-size: 1.25rem;
}

